$scr-xs: 350px;
$scr-sm: 550px;
$scr-md: 900px;
$scr-lg: 1200px;
$scr-xl: 1440px;

@mixin mi-width($wdth) {
  @media (min-width: $wdth) {
    @content;
  }
}

@mixin m-xs {
  @include mi-width($scr-xs) {
    @content;
  }
}
@mixin m-sm {
  @include mi-width($scr-sm) {
    @content;
  }
}
@mixin m-md {
  @include mi-width($scr-md) {
    @content;
  }
}
@mixin m-lg {
  @include mi-width($scr-lg) {
    @content;
  }
}
@mixin m-xl {
  @include mi-width($scr-xl) {
    @content;
  }
}
