body {
  background: red;
}

$gap: 8px;
$borad: 4px;
.profile {
  position: relative;
  margin-top: -$gap;

  padding: $gap * 2 $gap * 2 $gap * 4;
  background: white;
  border-radius: $borad * 3 $borad * 3 0 0;
}

.description {
  margin: 20px 0;
}

.tags {
  // width: 100%;
  width: calc(100% + #{$gap});
  margin-left: -$gap / 2;
  margin-bottom: 20px;
  &__item {
    border-radius: $borad * 2;
    padding: 6px 12px;
    color: $color-dark;
    background: $color-light;
    display: inline-block;
    margin: 0 $gap / 2 $gap;

    &--emphasis {
      background: $color-blue;
      color: $color-white;
    }
  }
}

h1 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: $color-dark;
  margin-bottom: 4px;
  padding-top: 4px;
}

h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 12px;
}

.btn-group {
  margin-top: 36px;
  &__item {
    margin: 24px auto 0;
    &:first-child {
      margin-top: 0;
    }
  }
}

.btn--back {
  position: absolute;
  top: 20px;
  left: 20px;
}
