.profile {
  display: block;
  position: relative;
  margin-top: -$gap * 5;

  padding: $gap * 2 0 $gap * 4;
  background: white;
  border-radius: $borad * 3 $borad * 3 0 0;
}

$onlineIcon_size: 7px;
.profile--online {
  .profile__h1 {
    display: inline-block;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      right: -8px - $onlineIcon_size;
      height: $onlineIcon_size;
      width: $onlineIcon_size;
      background: $color-green;
    }
  }
}

.description {
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: $color-dark;
  margin-bottom: 4px;
  padding-top: 4px;
}

h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 12px;
}

.btn-group {
  margin-top: 36px;

  &__item {
    margin: 24px auto 0;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }
  }
}

.btn--back {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 999;
}
