.profile {
  display: block;
  position: relative;
  margin-top: -28px;

  padding: $gap * 2 0 $gap * 4;
  background: white;
  border-radius: $borad * 3 $borad * 3 0 0;
  .like-heart {
    transition: 0.2s all ease-in-out;
  }
}

$onlineIcon_size: 7px;
.profile--online {
  .profile__name {
    display: inline-block;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      right: -8px - $onlineIcon_size;
      height: $onlineIcon_size;
      width: $onlineIcon_size;
      background: $color-green;
    }
  }
}

.profile--liked {
  .like-heart {
    fill: rgb(153, 122, 231);
  }
}

.profile--verified-photo,
.profile--verified-facebook,
.profile--verified-person {
  .profile__verification {
    position: relative;
  }
  .profile__verification-image {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    left: 0;
    transform: translateY(-50%);
  }
}
.profile__verification-image {
  display: none;
}
//////////////////////////////
.profile--verified-person {
  .profile__verification--person {
    padding-left: 28px;
    .profile__verification-image {
      display: block;
    }
  }
}
.profile--verified-facebook {
  .profile__verification--facebook {
    padding-left: 32px;
    .profile__verification-image {
      display: block;
    }
  }
}
.profile--verified-photo {
  .profile__verification--photo {
    padding-left: 32px;
    .profile__verification-image {
      display: block;
    }
  }
}