.profile {
  display: block;
  position: relative;
  margin-top: -$gap * 5;

  padding: $gap * 2 0 $gap * 4;
  background: white;
  border-radius: $borad * 3 $borad * 3 0 0;
  .like-heart {
    transition: 0.2s all ease-in-out;
  }
}

$onlineIcon_size: 7px;
.profile--online {
  .profile__h1 {
    display: inline-block;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      right: -8px - $onlineIcon_size;
      height: $onlineIcon_size;
      width: $onlineIcon_size;
      background: $color-green;
    }
  }
}

.profile--liked {
  .like-heart {
    fill: rgb(153, 122, 231);
  }
}
