.slider {
  position: relative;

  &__body {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;

    scroll-snap-type: x mandatory;
    max-height: 400px;
  }
  &__item {
    flex-shrink: 0;
    width: 100%;

    scroll-snap-align: start;
  }
  &__image {
    width: 100%;
  }

  &__controls {
    display: flex;
    position: absolute;
    bottom: 28px + 12px;
    left: 0;
    width: 100%;
  }
  &__control-item {
    background: $color-white-06;
    margin: 0 2px;
    height: 4px;
    width: 100%;
    cursor: pointer;
    transition: 0.1s all ease-in-out;

    &:first-child {
      border-radius: 2px 0 0 2px;
      margin-left: 0;
    }
    &:last-child {
      border-radius: 0 2px 2px 0;
      margin-right: 0;
    }
    &.active {
      background: $color-white;
    }
  }
}
