.tags {
  // width: 100%;
  width: calc(100% + #{$gap});
  margin-left: -$gap / 2;
  margin-bottom: 20px;
  &__item {
    border-radius: $borad * 2;
    padding: 6px 10px;
    color: $color-dark;
    background: $color-light;
    display: inline-block;
    margin: 0 $gap / 2 $gap;
    padding-left: 35px;
    position: relative;
  
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 12px;
      width: 16px;
      height: 16px;
      background-image: url('../img/icons/tags.png');
      background-size: 1500%;
      background-repeat: no-repeat;
    }
  

    &--emphasis {
      background: $color-blue;
      color: $color-white;
    }
  }

  &--narrow {
    padding-left: 6px;
    padding-right: 6px;

    @include m-sm {
      width: 95%;
      margin: 0 auto;
    }
  }
}

.tags__item {

  $shiftY: -25px;
  $shiftX: -17px;
  &--height {
    &:before {
      background-position: $shiftY * 1 0;
    }
    &.tags__item--emphasis:before {
      background-position: $shiftY * 1 $shiftX;
    }
  }
  &--kids {
    &:before {
      background-position: $shiftY * 5 0px;
    }
    &.tags__item--emphasis:before {
      background-position: $shiftY * 5 $shiftX;
    }
  }
  &--sexuality {
    &:before {
      background-position: $shiftY * 6 0px;
    }
    &.tags__item--emphasis:before {
      background-position: $shiftY * 6 $shiftX;
    }
  }
  &--religion {
    &:before {
      background-position: $shiftY * 2 0px;
    }
    &.tags__item--emphasis:before {
      background-position: $shiftY * 2 $shiftX;
    }
  }
  &--weight {
    &:before {
      background-position: $shiftY * 9 0px;
    }
    &.tags__item--emphasis:before {
      background-position: $shiftY * 9 $shiftX;
    }
  }
  &--bodytype {
    &:before {
      background-position: $shiftY * 7 0px;
    }
    &.tags__item--emphasis:before {
      background-position: $shiftY * 7 $shiftX;
    }
  }
  &--haircolor {
    &:before {
      background-position: $shiftY * 4 0px;
    }
    &.tags__item--emphasis:before {
      background-position: $shiftY * 4 $shiftX;
    }
  }
  &--smoke {
    &:before {
      background-position: $shiftY * 3 0px;
    }
    &.tags__item--emphasis:before {
      background-position: $shiftY * 3 $shiftX;
    }
  }
  &--alcohol {
    &:before {
      background-position: $shiftY * 8 0px;
    }
    &.tags__item--emphasis:before {
      background-position: $shiftY * 8 $shiftX;
    }
  }
  &--relationship {
    &:before {
      background-position: $shiftY * 0 0px;
    }
    &.tags__item--emphasis:before {
      background-position: $shiftY * 0 $shiftX;
    }
  }
}
