$padX: 30px;
$padY: 15px;

.btn {
  background: none;
  border: none;
  outline: none;

  padding: $padY $padX;
  cursor: pointer;
  text-align: center;

  border-width: 1px;
  border-style: solid;

  transition: 0.2s all ease-in-out;
  border-radius: 5px;

  color: $color-dark;
  background: $color-white-03;
  border-color: $color-black;
  display: block;
  
  &--round {
    padding: $padY;
    border-radius: 50%;
    border-color: $color-white-03;
    box-shadow: 0px 0px 12px $color-black-02;
  }
}
