$padX: 16px;
$padY: 6px;

.btn {
  background: none;
  border: none;
  outline: none;

  padding: $padY $padX;
  font-weight: bold;
  cursor: pointer;
  text-align: center;

  border-width: 2px;
  border-style: solid;
  border-color: $color-white;
  background: $color-white;
  color: $color-black;

  transition: 0.2s all ease-in-out;
  border-radius: 5px;
}
